{% extends 'books/base.html' %}
{% block content %}
<div class="container">  
    <div class="row">
        {% for book in books %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <img src="{{ book.image.url }}" alt="Image">
            <div class="caption">
                <h3>{{ book.title }}</h3>
                <h4>{{ book.publisher }}
                    <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Authors
                    </a>
                    {% for author in book.authors.all %}
                        <a href="#" class="list-group-item">{{ author }}</a>
                    {% endfor %}
                    </div>
                <p>{{ product.description }}</p>
                <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">Save</a></p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}